tensorflow==2.21.0
keras==3.12.3
protobuf==7.35.1

numpy==2.2.6
scipy==1.15.3
scikit-learn==1.7.2
pandas==2.3.3
joblib==1.5.3

Pillow==12.3.0
opencv-python==5.0.0.93

keras-facenet==0.3.2
mtcnn==1.0.0
lz4==4.4.5

streamlit==1.59.2


# python -m pip install -r requirements.txt

# Python 3.10

